version: '3.5'

volumes:
  pgdata:
    name: pgdata
  redisdata:
    name: redisdata

services:
  app:
    build: .
    image: flask-mbs:latest
    container_name: flask-mbs
    volumes: 
      - ./:/root
    ports:
      - 80:5000
    links:
      - redis
      - postgres
    env_file: .env

  redis:
    image: redis:5-alpine
    container_name: redis
    volumes:
      - redisdata:/data
  
  postgres:
    image: postgres:11-alpine
    container_name: potsgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=secret

