# A simple framework for building complex web applications.
FLask==1.0.2

# A lightweight library for converting complex datatypes to and from native Python datatypes.
marshmallow==2.19.2

# Python client for Redis key-value store
redis==3.2.1

# Distributed Task Queue.
celery==4.3.0

# Python-PostgreSQL Database Adapter
psycopg2-binary==2.8.2

# A python library adding a json log formatter
python-json-logger==0.1.11

# simplified environment variable parsing
environs==4.1.0

# JSON Web Token implementation in Python
PyJWT==1.7.1

# comprehensive password hashing framework supporting over 30 schemes
passlib==1.7.1

# WSGI HTTP Server for UNIX
gunicorn==19.9.0

# Coroutine-based network library
gevent==1.4.0

# a little orm
peewee==3.9.4

# python code static checker
pylint==2.3.1

# the modular source code checker: pep8, pyflakes and co
flake8==3.7.7

# simple powerful testing with Python
pytest==4.4.1

# Pytest plugin for measuring coverage.
pytest-cov==2.6.1

# A tool that automatically formats Python code to conform to the PEP 8 style guide
autopep8==1.4.4
